/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1024px) {
    #header {
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        min-height: 55px;
        padding: 3px 0 0;
    }
    .admin-bar #header {
        top: 32px;
    }
    #main-content {
        margin-top: 55px;
    }
    .logo {
        max-width: 87px;
    }
        .logo img {
            margin: 0;
        }
    .desktop {
        display: none !important;
    }
    .mobile-menu-wrap,
    .mobile-menu-toggle {
        display: block;
    }
}
@media all and (max-width: 991px) {
    .live-lists {
        margin: 0 -8px -40px;
    }
    .live-lists > li {
        width: -webkit-calc(50% - 3px);
        width: calc(50% - 3px);
        margin-bottom: 40px;
        padding: 0 8px;
    }
    .live-lists > li:nth-child(odd) {
        clear: both;
    }
    .tablet-hide {
        display: none !important;
    }
    .news-box {
        padding: 28px 15px 30px;
    }
    .ico-table tbody td {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media all and (max-width: 960px) {
    .details-box,
    .dates-box {
        float: none;
        width: auto;
    }
    .details-box:not(:last-child) {
        margin-bottom: 60px;
    }
    .dates-box {
        padding-left: 0;
    }
}
@media all and (max-width: 860px) {
    .wrapper {
        min-height: auto;
        margin-bottom: 0;
    }
    .wrapper:after {
        display: none;
    }
    .news-list  > li {
        width: 50%;
    }
    .news-list > li:nth-child(3n + 2) {
        clear: none;
    }
    .news-list > li:nth-child(2n) {
        clear: both;
    }
    .footer-list {
        margin-bottom: -40px;
    }
    .footer-list > li {
        width: 50% !important;
        margin-bottom: 40px;
    }
    .footer-list > li.coll-form {
        float: left;
    }
    .footer-list > li:nth-child(odd) {
        clear: both;
    }
    .ico-table .col-site {
        display: none;
    }
}
@media all and (max-width: 782px) {
    .admin-bar #header {
        top: 46px;
    }
}
@media all and (max-width: 767px) {
    .footer-title,
    .section-title,
    .section-content .section-title,
    .section-content h1,
    .banner-title {
        font-size: 36px;
    }
    .news-list > li:first-child .news-title {
        font-size: 22px;
    }
    .banner-desc,
    a.live-title,
    .live-title {
        font-size: 16px;
    }
    .news-desc,
    .ico-table thead,
    .ico-table tbody {
        font-size: 15px;
    }
    .ico-table-mob {
        display: block;
    }
    .ico-table-wrap {
        display: none;
    }
    .section-content .content-sub-box {
        padding-left: 10px;
    }
    .ico-details-wrap .section-title {
        font-size: 26px;
    }
    .section-content .vc_line-chart .vc_chart-legend {
        width: auto;
    }
    .vc_round-chart .vc_chart-with-legend {
        margin-bottom: 30px;
    }
}
@media all and (max-width: 640px) {
    .live-lists > li {
        width: 100%;
    }
    .live-cell.logo-cell {
        width: 66px;
        text-align: center;
    }
    .ico-table .col-cat {
        display: none;
    }
    .tablesorter .tablesorter-header:after {
        right: 8px;
    }
    .tablesorter .tablesorter-header .tablesorter-header-inner {
        padding: 0 12px 0 0;
    }
}
@media all and (max-width: 600px) {
    .admin-bar #header {
        top: 0;
    }
}
@media all and (max-width: 580px) {
    .news-list {
        margin-bottom: -25px;
    }
    .news-list  > li {
        width: 100%;
        margin-bottom: 25px;
    }
    .news-list > li:first-child .news-box,
    .news-box {
        min-height: 180px;
        padding: 24px 10px 28px;
    }
    .footer-list > li {
        float: none;
        width: 100% !important;
    }
    .footer-box,
    .footer-title {
        max-width: 260px;
        margin: 0 auto;
    }
    .footer-box.form {
        margin: 0 auto;
    }
    .section-content img.alignleft,
    .section-content img.alignright {
        float: none;
        display: block;
        margin: 5px auto 22px;
        max-width: none;
    }
    .ico-img-wrap {
        width: 45px;
        padding-right: 5px;
    }
    .ico-table tbody tr td.col-date, 
    .ico-table thead tr th.col-date {
        width: 20%;
    }
}
@media all and (max-width: 480px) {
    .partners-list {
        margin: 0 4px -12px;
        text-align: left;
    }
        .partners-list > li {
            width: 49%;
            padding: 0 4px;
            margin-bottom: 12px;
        }
            .partners-box {
                width: 100%;
            }
    .ico-table-mob-cell.ico-name {
        width: 110px;
    }
    .section-content .content-box {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -5px;
        margin-right: -5px;
    }
    .section-content .content-box .section-sub-title-box > *:before {
        left: -20px;
        width: 20px;
    }
    .details td {
        padding-left: 10px;
    }
    .ico-table tbody td.col-date,
    .ico-table tbody td.col-total {
        white-space: nowrap;
        font-size: 14px;
    }
    .vc_chart ul.vc_chart-legend {
        padding-left: 0;
    }
}
@media all and (max-width: 420px) {
    .countdown > span {
        width: 56px;
    }
    .ico-table tbody td {
        padding-left: 6px;
        padding-right: 6px;
    }
    .ico-img-wrap {
        width: 35px;
        height: 30px;
        line-height: 28px;
        padding-right: 5px;
    }
}
@media all and (max-width: 380px) {
    .ico-table-mob-box {
        font-size: 12px;
    }
}
@media all and (max-width: 360px) {
    .countdown > span {
        width: 50px;
        height: 48px;
        margin-right: 7px;
        padding: 1px;
    }
    .countdown > span.letter {
        height: 45px;
        font-size: 25px;
        line-height: 45px;
    }
}