/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Evolventa-Bold';
    src: url('../fonts/Evolventa-Bold.eot');
    src: url('../fonts/Evolventa-Bold.woff') format('woff'),
        url('../fonts/Evolventa-Bold.ttf') format('truetype'),
        url('../fonts/Evolventa-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 16px "HelveticaNeueCyr", Helvetica, Arial, sans-serif; background:#fff; color:#000;
								  -webkit-font-smoothing: antialiased;
								  -moz-osx-font-smoothing: grayscale; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	/*outline:none;*/
	list-style:none;
}
select, input, textarea        { font-size:14px; vertical-align:middle; }
textarea                       { vertical-align:top; }
/*:focus                         { outline:none; }*/
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font-family: "HelveticaNeueCyr", Helvetica, Arial, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a:hover,
.btn:hover,
input[type="submit"]:hover,
button:hover {
    /*opacity: 0.8;*/
}
.input-style::-webkit-input-placeholder { color: #4f6370; }
.input-style::-moz-placeholder { color: #4f6370; }
.input-style:-ms-input-placeholder { color: #4f6370; }
.input-style:-moz-placeholder { color: #4f6370; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
a[href^="tel:"] {
    cursor: default;
}
a.btn,
.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 10px 15px 10px;
    min-width: 170px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: #FFB72B;
    -webkit-border-radius: 2em;
    -khtml-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
    cursor: pointer;
}
a.btn:hover,
a.btn:focus,
.btn:hover,
.btn:focus {
    color: #FFB72B;
    border-color: #FFB72B;
    background-color: transparent;
}
.btn-jump-to-content {
    position: absolute;
    display: block;
    width: 300px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-decoration: none;
    background: #fff;
    z-index: -9999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
.btn-jump-to-content:hover {
    color: #d4000d;
    text-decoration: none;
}
.btn-jump-to-content:focus {
    opacity: 1;
    z-index: 9999;
}
/*-------------------------------------FORM-FIELDS----------------------------------*/
.input-style {
    display: block;
    width: 100%;
    margin: 0;
    padding: 6px 0 6px;
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
    color: #ffffff;
    background-color: transparent;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style::-webkit-input-placeholder { color: #ffffff; }
.input-style::-moz-placeholder { color: #ffffff; }
.input-style:-ms-input-placeholder { color: #ffffff; }
.input-style:-moz-placeholder { color: #ffffff; }

input::-webkit-input-placeholder {
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
input::-moz-placeholder {
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
input:-ms-input-placeholder {
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
input:-moz-placeholder {
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
input:focus::-webkit-input-placeholder { opacity: 0; }
input:focus::-moz-placeholder { opacity: 0; }
input:focus:-ms-input-placeholder { opacity: 0; }
input:focus:-moz-placeholder { opacity: 0; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -522px;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 522px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header {
    background-color: #ffffff;
}
    #header .container {
        overflow: hidden;
        max-width: 1162px;
    }
        .logo {
            float: left;
            max-width: 170px;
            -webkit-transition: 0.35s;
            -khtml-transition: 0.35s;
            -moz-transition: 0.35s;
            -ms-transition: 0.35s;
            -o-transition: 0.35s;
            transition: 0.35s;
        }
            .logo img {
                padding-bottom: 4px;
                max-width: 100%;
                max-height: 100%;
            }
/*----------------------------------------------------------------------------------*/
/*--------------------------------------NAV-----------------------------------------*/
/*----------------------------------------------------------------------------------*/
 .main-nav {
     float: right;
 }
    .main-nav > ul {
    }
        .main-nav > ul > li {
            display: inline-block;
        }
            .main-nav > ul > li > a {
                position: relative;
                display: inline-block;
                padding: 40px 13px 40px;
                font-size: 16px;
                text-transform: uppercase;
            }
            .main-nav > ul > li > a:hover,
            .main-nav > ul > li > a:focus {
                text-decoration: none;
            }

.mobile-menu-toggle,
.mobile-menu-wrap {
    display: none;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.section {
    position: relative;
    background-color: #ffffff;
}
/*-------------------------------------BANNER--------------------------------------*/
.section-banner {
    padding: 50px 0 20px;
    text-align: center;
}
    .banner-box {
        max-width: 420px;
        margin: 0 auto;
    }
        .rewards-list {
            display: inline-block;
            margin: 0 -20px;
        }
            .rewards-list > li {
                display: inline-block;
                margin-bottom: 26px;
                padding: 0 13px;
                vertical-align: middle;
            }
                .reward-img-box {
                    display: inline-block;
                }
                    .reward-img-box img {
                        max-width: 100%;
                    }
        .banner-title {
            font-family: "Evolventa-Bold", Arial, sans-serif;
            font-size: 30px;
            line-height: 1.2;
            color: #FFB72B;
        }
/*-------------------------------------BANNER--------------------------------------*/
.section-title-box {
    margin-bottom: 20px;
    text-align: center;
}
    .section-title {
        position: relative;
        display: inline-block;
        padding: 8px 0 5px;
        font: 30px/1 "Evolventa-Bold", Arial, sans-serif;
        text-align: center;
        color: #000000;
    }
    .section-title:before,
    .section-title:after {
        position: absolute;
        content: '';
        width: 60%;
        height: 2px;
        background-color: #ffb72b;
    }
    .section-title:before {
        top: 0;
        right: 0;
    }

    .section-title:after {
        bottom: 0;
        left: 0;
    }
    .section-title.yellow {
        color: #ffb72b;
    }
/*-------------------------------------BANNER--------------------------------------*/
/*-------------------------------------BANNER--------------------------------------*/
/*-------------------------------------PARTNERS------------------------------------*/
.section-partners {
    padding: 71px 0 20px;
    background-color: #000000;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer {
    position: relative;
    z-index: 20;
    padding: 66px 0 0;
    background-color: #161616;
}
    #footer .container {}
        .footer-top-box {
            margin-bottom: 72px;
        }
            .footer-title {
                margin-bottom: 31px;
                font: 30px/1.2 "Evolventa-Bold", Arial, sans-serif;
                color: #ffffff;
            }
        .footer-list {
            overflow: hidden;
            margin: 0 -10px;
        }
            .footer-list > li {
                float: left;
                width: 25%;
                padding: 0 10px;
            }
            .footer-list > li:first-child {
                width: 33.8%;
            }
            .footer-list > li:nth-child(2) {
                width: 16.6%;
            }
            .footer-list > li:nth-child(3) {
                width: 16.8%;
            }
            .footer-list > li:nth-child(4) {
                width: 32.8%;
            }
            .footer-list > li {}
            .footer-list > li {}
                .footer-box {
                    max-width: 260px;
                }
                .footer-box.contact {
                    padding-top: 9px;
                }
                    a.footer-link,
                    .footer-link {
                        display: block;
                        padding: 4px 0 4px;
                        font-size: 14px;
                        line-height: 1.25;
                        color: #ffffff;
                    }
                .footer-contact-box {
                    display: table;
                    width: 100%;
                    margin-bottom: 46px;
                }
                    .footer-contact-box .icon-box,
                    .footer-contact-box .info-box {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    .footer-contact-box .icon-box {
                        width: 79px;
                        padding-right: 8px;
                        text-align: center;
                    }

                        .footer-contact-box .icon-box img {
                            max-width: 100%;
                        }
                    .footer-contact-box .info-box {
                        font-size: 14px;
                        line-height: 1.2;
                        color: #8d8d8d;
                    }
                        .footer-contact-box .info-box a {
                            display: inline-block;
                            width: 100%;
                            color: #8d8d8d;
                        }
                        .info-box * {

                        }
                .footer-box.form {
                    padding-top: 10px;
                }
                    .footer-form-list {}
                        .footer-form-list > li:not(:last-child) {
                            margin-bottom: 17px;
                       }
                    .footer-btn-box {
                        margin-top: 41px;
                        padding-left: 4px;
                    }
        .footer-bottom-box {
            padding: 16px 0 18px;
            text-align: center;
            background-color: #2d2d2d;
        }
            .copyright {
                font-size: 14px;
                color: #ffffff;
            }

